/*
* @Author: i白描
* @Date:   2019-02-21 21:06:47
* @Last Modified by:   i白描
* @Last Modified time: 2019-02-23 10:57:48
*/


:global {
	::-webkit-scrollbar {
		display: none;
	}
}

.songsListContainer {
	width:100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
	background: rgba(0,0,0,.8);

  >div {
  	width:100%;
  	position: absolute;
	  left: 0;
	  bottom: 0;
	  right: 0;
  	max-height: 9rem;
  	overflow: auto;
  	background: rgb(39, 40, 32);
  	padding-left: 0.3rem;
  	box-sizing: border-box;
    >p {
    	width: 100%;
      height: 1.2rem;
      line-height: 1.2rem;
      border-bottom:0.02rem solid rgb(70,71,63);
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

     	span {
     		display: block;
     		width:100%;
        min-width: 30%;
        max-width: 95%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.blue {
	color:rgb(93,118,218);
}
