$baseline-px:75.0px;

@font-face {
    font-family: 'iconfont';  /* project id 944434 */
    src: url('//at.alicdn.com/t/font_944434_eykv8min8jb.eot');
    src: url('//at.alicdn.com/t/font_944434_eykv8min8jb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_944434_eykv8min8jb.woff') format('woff'),
    url('//at.alicdn.com/t/font_944434_eykv8min8jb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_944434_eykv8min8jb.svg#iconfont') format('svg');
  }
@function px2rem ($px-values) {
    $baseline-rem: $baseline-px / 1rem * 1;
    $px-values: $px-values / $baseline-rem;
    @return $px-values;
}

$color:rgb(51,56,58);
@mixin display($box:flex, $direction:row, $col:flex-start, $row:center) {
    display: $box;
    flex-direction: $direction;
    justify-content: $col;
    align-items: $row;
}

%boxsizing {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

%linetext{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

@mixin textoverflow($n:2) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break:break-all;
    -webkit-line-clamp:$n;  
    -webkit-box-orient: vertical;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

b{
    font-weight:400;
}